body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 2rem;
    font-family: Arial;
}

body {
    margin-bottom: 100px;
    background: rgb(240, 234, 234);
}

a {
    text-decoration: none;
    color: azure;
}

h1 {
    text-align: center;
    margin-top: 60px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    background: rgb(58, 57, 57);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.search-box {
    position: absolute;
    top: 3%;
    left: 30%;
    transform: translate(-20%, -20%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.search-btn {
    color: rgb(80, 79, 79);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 4px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;

}

/*hover effect added */

.grid>div {
    position: relative
}

.grid>div:hover {
    top: -2px;
    box-shadow: 0 5px 5px #666;
}

/* ######################## */

.grid>div {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.grid>div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;

}

.grid>div.propaganda {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
    border: none;
    box-shadow: none;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid>div.propaganda {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}